html {
    overflow-x: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: calc(100vw + 18px);
    overflow: auto;
}

.btn-prev {
    background: url('/svg/chevron-left-solid.svg') center center no-repeat !important;
}

.btn-prev::before {
    display: none;
}

.btn-next {
    background: url('/svg/chevron-right-solid.svg') center center no-repeat !important;
}

.btn-next::before {
    display: none;
}

.eventer-compact-list .eventer-event-list-item {
    position: relative;
    border: 1px solid #eee;
    background-color: #fff;
    border-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.eventer-compact-list .eventer-event-list-item:last-child {
    border-bottom: 1px solid #eee;
}

.eventer-compact-list .eventer-event-list-item,
.eventer-event-grid-item {
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;
    -o-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}

.eventer-event-list-item>a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 0 !important;
}

.eventer-compact-list .eventer-event-date {
    flex-grow: 1;
    padding: 17px 15px;
    border-top: 5px solid transparent;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    flex-basis: 60px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    border-top-color: #02f20e;
}

.eventer-event-date>span {
    display: block;
    width: 100%;
    text-align: center;
}

.eventer-event-date span.eventer-event-day {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 6px;
}

.eventer-event-date>span.eventer-event-month {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #aeaeae;
}

.eventer-event-date>span.eventer-event-year {
    font-size: 11px;
    letter-spacing: 2px;
    background-color: #f7f7f7;
    padding: 1px 5px 1px 7px;
    border-radius: 3px;
    display: inline;
}

.eventer-compact-list .eventer-event-details {
    overflow: hidden;
    padding: 2em;
    position: relative;
    z-index: 2;
    flex-grow: 8;
    flex-basis: 350px;
}

.eventer-compact-list .eventer-event-list-item .eventer-event-image {
    display: block;
    width: 85px;
    height: 85px;
    float: left;
    border-radius: 100%;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.eventer-compact-list .eventer-event-time {
    margin-bottom: 5px;
}

.eventer-event-venue,
.eventer-event-time {
    padding-left: 5px;
    font-size: 12px;
    color: #aeaeae;
    position: relative;
    display: inline-block;
}

.eventer-compact-list .eventer-event-title {
    margin: 4px 0 12px;
}

.eventer-event-title {
    font-size: 19px;
    display: block;
}

.eventer-event-venue,
.eventer-event-time {
    font-size: 12px;
    color: #aeaeae;
    position: relative;
    display: inline-block;
}

.eventer-event-info {
    flex-grow: 1;
    min-width: 270px;
    padding: 15px;
    border-top: 5px solid transparent;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px;
    flex-basis: 60px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    border-top-color: #c0bdbb;
}

.eventer-event-info>span {
    display: block;
    width: 100%;
    text-align: center;
}

.eventer-event-info>span.eventer-event-date {
    font-size: 11px;
    letter-spacing: 2px;
    background-color: #f7f7f7;
    padding: 1px 5px;
    border-radius: 3px;
    display: inline;
    margin-bottom: 10px;
    border-top-color: transparent;
}

.eventer-event-info>span.eventer-event-text {
    font-size: 14px;
    font-weight: bold;
    color: red;
    letter-spacing: 1px;
}

.scroll-to-top {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, .5);
    line-height: 46px;
    z-index: 50;
}

.table td,
.table th {
    padding: .75rem;
}

input[type=radio]:not(:checked):hover {
    cursor: pointer;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.blocker {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .75);
    text-align: center;
    vertical-align: middle;
}

.blocker:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.05em;
}

div.group-modal {
    width: 90%;
    max-width: 350px;
    max-height: 450px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-style: normal;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    text-align: left;
}

div.group-modal .header {
    height: 45px;
    text-align: center;
    background-color: white;
    color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

div.group-modal .header .title {
    padding-top: 10px;
    font-size: 18px;
}

div.group-modal .header .closer {
    width: 40px;
    height: 40px;
    line-height: 1.5em;
    position: absolute;
    top: -20px;
    right: -17px;
    font-size: 24px;
    background-color: #3C3C3C;
    border-radius: 25px;
    cursor: pointer;
}

div.group-modal .body {
    padding: 20px;
}

div.group-modal .body .form-check {
    margin-left: 3px;
}